@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
}


/* REACT-CALENDAR (v. 2.19.2) - CUSTOM STYLING */
.react-calendar {
  border: none !important;
  border-bottom: 1px solid #191919 !important;
  padding: 1px;
}
.react-calendar__navigation {
  margin-bottom: 5px !important;
  border-bottom: 1px solid #272b34;
}
.react-calendar__navigation button {
  font-size: 14px;
}
.react-calendar__navigation button[disabled] {
  background-color: #1f222a;
}
.react-calendar__month-view__weekdays abbr[title] {
  text-decoration: none;
}
.react-calendar__tile.marked {
  box-shadow: inset 0 0 0 2px #61dafb;
}
.react-calendar__tile--now {
  z-index: 1;
  text-decoration: underline;
  font-weight: 900 !important;
}
.react-calendar__tile--active {
  font-weight: 700;
  color: #000 !important;
  background-color: #e6e6e6 !important;
}


/* CUSTOM DARK THEME - REACT-CALENDAR (v. 2.19.2) */
.calendar-dark-theme.react-calendar {
  color: #efefef !important;
  background-color: #1f222a !important;
}
.calendar-dark-theme button:enabled:focus {
  background-color: #3C3F47 !important;
}

/* NAVI */
.calendar-dark-theme .react-calendar__navigation button[disabled] {
  color: #5f5f5f;
  background-color: #1f222a;
}
.calendar-dark-theme .react-calendar__navigation button:enabled {
  color: #efefef;
 }
.calendar-dark-theme .react-calendar__tile:enabled:hover,
.calendar-dark-theme .react-calendar__navigation button:enabled:hover {
 background-color: #262931;
}

/* DAYS */
.calendar-dark-theme .react-calendar__decade-view__years__year,
.calendar-dark-theme .react-calendar__year-view__months__month,
.calendar-dark-theme .react-calendar__month-view__days__day:not(.react-calendar__month-view__days__day--weekend) {
  color: #efefef;
}
.calendar-dark-theme .react-calendar__month-view__days__day--weekend {
  color: #ff5722;
}

/* TILES */
.calendar-dark-theme .react-calendar__tile:disabled {
  background-color: #2a2d38;
}

.calendar-dark-theme .react-calendar__tile.react-calendar__tile--active {
  color: #fff !important;
  background-color: #3C3F47 !important;
}
.calendar-dark-theme .react-calendar__tile--now {
  outline: 1px dashed #888;
}
.calendar-dark-theme .react-calendar__tile--active {
  font-weight: 700;
  color: #000 !important;
  background-color: #e6e6e6 !important;
}
.calendar-dark-theme .react-calendar__tile--hasActive {
  background-color: inherit;
}

.calendar-dark-theme .react-calendar__tile.marked {
  box-shadow: inset 0 0 0 1px rgba(0, 255, 139, 0.3);
  color: #00ff8b;
}
